<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.imemorize" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.imemorize.ImemorizeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/default_app_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
         >
        <activity
            android:name="org.imemorize.activity.MainActivity"
            android:label="@string/title_activity_memorize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.imemorize.activity.CategoryListActivity"
            android:parentActivityName="org.imemorize.activity.MainActivity" >
        </activity>
        <activity
            android:name="org.imemorize.activity.QuoteListActivity"
            android:label="@string/title_activity_memorize"
            android:parentActivityName="org.imemorize.activity.MainActivity" >
        </activity>

        <activity
            android:name="org.imemorize.activity.MemorizeActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="org.imemorize.activity.AddQuoteActivity"
            android:label="@string/app_name" >

    </activity>
    </application>

</manifest>
